@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: -1px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_Side {
  position: relative;
  background: #003147;
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.profileText h2 {
  color: #fff;
  margin-top: 15px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.4em;
}

.profileText h2 span {
  font-size: 0.9em;
  font-weight: 300;
}

.contact {
  padding: 1px;
  margin-top: 10px;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-align: center;
}

.contact ul {
  position: relative;
  font-size: 15px;
}

.contact ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contact ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}

.contact ul li span {
  color: #fff;
  font-weight: 300;
  /* font-size: 15px; */
}

.contact ul li a {
  text-decoration: none;
}

.education li {
  margin-bottom: 15px;
  list-style: none;
}

.education h5 {
  color: #03a9f4;
  font-weight: 500;
}

.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}

.education h4 {
  color: #fff;
  font-weight: 300;
}

.language li {
  list-style: none;
  color: #fff;
}

.container .right_Side {
  position: relative;
  background: #fff;
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0px;
}

.title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: #333;
  text-align: justify;
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .text {
  min-width: 150px;
}

.about .box .text h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.about .box .s-text h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}

.skill .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.skill .box h4 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}

.skill .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #f0f0f0;
}

.skill .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.text {
  padding: 0 0 0 10px;
}

#text h4 {
  text-transform: uppercase;
  color: #2a7da2;
}

.company {
  color: #003147;
  font-size: 12px;
  font-weight: bold;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-item {
  margin-top: 10px;
  margin-left: 10px;
}

.projects {
  margin-top: 15px;
}

.box {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #003147;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  /* color: #fff; */
}

a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #003147;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.4s;
}

a:hover::after {
  width: 100%;
}

.language {
  margin-bottom: 10px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 150px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #03a9f4;
  color: white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.link-custom {
  font-weight: 600;
  position: relative;
  color: #fff;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 100%;
}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .contact ul li span {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
  }

  /* .language ul {
    display: flex;
    justify-content: space-evenly;
  } */
  .language {
    margin-bottom: 10px;
  }

  #myBtn {
    right: 50px;
    background-color: #03a9f4;
  }
}

@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }

  .about .box .experience {
    margin-bottom: 5px;
  }

  .skill .box {
    grid-template-columns: repeat(1 1fr);
  }

  .contact ul {
    position: relative;
    font-size: 14px;
  }
}